package nav

templ NavRoot() {
	<div class="nav">
		<nav class="nav-list">
			<a class="nav-item" href="/">Home</a>
			<a class="nav-item" href="/about">About</a>
			<a class="nav-item" href="/contact">Contact</a>
		</nav>
	</div>
}
