package register

templ InputBio(value string, helpText string) {
	<sl-textarea name="bio" placeholder="Bio" type="text" label="Bio" minlength="4" maxlength="12" required class="border-red-500" value={ value } help-text={ helpText }>
		<div slot="prefix">
			<sl-icon name="at-sign" library="sonr"></sl-icon>
		</div>
	</sl-textarea>
}
