package account

templ listComponent(accounts AccountsEntity) {
	<div class="flex flex-col gap-4 mt-4">
		for _,account := range accounts.GetModels() {
			<div class="flex justify-between items-center">
				@rowComponent(account)
			</div>
		}
	</div>
}
