#!/bin/bash

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetify.com/docs/devbox/ide_configuration/direnv/
# for more details
#

function get_version() {
  if [ "$1" == "frontend" ]; then
    echo "$(cd apps/frontend; cz version -p)"
  elif [ "$1" == "enclave" ]; then
    echo "$(cd libs/enclave; cz version -p)"
  elif [ "$1" == "vault" ]; then
    echo "$(cd libs/vault; cz version -p)"
  elif [ "$1" == "sdk" ]; then
    echo "$(cd pkgs/sdk; cz version -p)"
  elif [ "$1" == "ui" ]; then
    echo "$(cd pkgs/ui; cz version -p)"
  fi
}

function get_tag() {
  if [ "$1" == "frontend" ]; then
    echo "@sonr.io/frontend@$(get_version frontend)"
  elif [ "$1" == "enclave" ]; then
    echo "@sonr.io/enclave@$(get_version enclave)"
  elif [ "$1" == "vault" ]; then
    echo "@sonr.io/vault@$(get_version vault)"
  elif [ "$1" == "sdk" ]; then
    echo "@sonr.io/sdk@$(get_version sdk)"
  elif [ "$1" == "ui" ]; then
    echo "@sonr.io/ui@$(get_version ui)"
  fi
}

function get_dir() {
  if [ "$1" == "frontend" ]; then
    echo "apps/frontend"
  elif [ "$1" == "enclave" ]; then
    echo "libs/enclave"
  elif [ "$1" == "vault" ]; then
    echo "libs/vault"
  elif [ "$1" == "sdk" ]; then
    echo "pkgs/sdk"
  elif [ "$1" == "ui" ]; then
    echo "pkgs/ui"
  fi
}

function should_bump() {
  TAG=$(get_tag $1)
  DIR=$(get_dir $1)
  BUMP=$(git diff --quiet $TAG -- $DIR && echo false || echo true)
  echo "$BUMP"
}

function bump_version() {
  BUMP=$(should_bump $1)
  DIR=$(get_dir $1)
  if [ "$BUMP" == "true" ]; then
    cd $DIR
    cz bump --yes
    cd ../..
  fi
}

function bump() {
  bump_version frontend
  bump_version enclave
  bump_version vault
  bump_version sdk
  bump_version ui
}
