#!/bin/bash

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetify.com/docs/devbox/ide_configuration/direnv/
# for more details
#

export VERSION_FRONTEND=$(cd apps/frontend; cz version -p)

export VERSION_ENCLAVE=$(cd libs/enclave; cz version -p)
export VERSION_VAULT=$(cd libs/vault; cz version -p)

export VERSION_SDK=$(cd pkgs/sdk; cz version -p)

export VERSION_UI=$(cd pkgs/ui; cz version -p)

export TAG_FRONTEND=@sonr.io/frontend@$VERSION_FRONTEND

export TAG_ENCLAVE=@sonr.io/enclave@$VERSION_ENCLAVE

export TAG_VAULT=@sonr.io/vault@$VERSION_VAULT

export TAG_SDK=@sonr.io/sdk@$VERSION_SDK

export TAG_UI=@sonr.io/ui@$VERSION_UI

export BUMP_FRONTEND=$(git diff --quiet $TAG_FRONTEND -- apps/frontend/ && echo false || echo true)

export BUMP_ENCLAVE=$(git diff --quiet $TAG_ENCLAVE -- libs/enclave/ && echo false || echo true)

export BUMP_SDK=$(git diff --quiet $TAG_SDK -- pkgs/sdk/ && echo false || echo true)

export BUMP_VAULT=$(git diff --quiet $TAG_VAULT -- libs/vault/ && echo false || echo true)

export BUMP_UI=$(git diff --quiet $TAG_UI -- pkgs/ui/ && echo false || echo true) 
