package components

import (
	"github.com/sonr-io/motr/ui"
	"github.com/sonr-io/motr/sink"
)

var meta = sink.DefaultMetadata()

templ LoginView() {
	@ui.HTML() {
		@ui.Head() {
			@ui.MetaComponent(meta)
		}
		<sl-tab-group>
			@ui.Nav() {
				@ui.NavLeft() {
					@ui.NavLogo("Motr")
				}
				@ui.NavRight() {
				}
			}
			@ui.Body() {
			}
		</sl-tab-group>
	}
}
