package components

templ InputAvatar(value string, helpText string) {
	<input type="file" name="avatar" id="avatar" name="avatar" accept="image/*"/>
	<sl-button variant="neutral" slot="suffix" type="button">
		<sl-icon name="upload-2-fill" slot="prefix"></sl-icon>
	</sl-button>
}
