package profile

import models "github.com/sonr-io/motr/internal/sink/users"

templ RowComponent(account models.Profile) {
	<div class="flex justify-between items-center">
		{ account.Handle }
		<sl-icon style="font-size: 24px;" library="sonr" name="chevron-right"></sl-icon>
	</div>
}
