package inputs

templ InputAvatar(value string, helpText string) {
	<sl-button variant="default" size="large" circle>
		<sl-icon name="upload-2-fill"></sl-icon>
	</sl-button>
}

templ InputAvatarSuccess(value string, url string) {
	<sl-button variant="default" size="large" circle>
		<sl-icon name="upload-2-fill"></sl-icon>
	</sl-button>
}
