package ui

templ Body() {
	<body>
		{ children... }
	</body>
}

// Head is a component that renders the head of the document
templ Head() {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		@ApexCharts()
		@Helia()
		@Dexie()
		@Htmx()
		@Tailwind()
		@Shoelace()
		@DefaultStyles()
		{ children... }
	</head>
}

templ HTML() {
	<!DOCTYPE html>
	<html lang="en">
		{ children... }
	</html>
}
